* {
	box-sizing: border-box;
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	background-color: white;
	color: black;
	width: 100vw;
	overflow-x: hidden;
	margin: 0;
}

.title-container {
	height: 14rem;
	width: 100vw;
	overflow: hidden;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	position: relative;
	border-bottom: .1rem solid black;
	background-color: white;
}

h1,
h2 {
	text-align: center;
	margin: 0;
}

h1 {
	font-weight: normal;
	font-size: 2.5rem;
	letter-spacing: 1.5rem;
	border-bottom: 1px solid black;
}

h2 {
	font-size: 7rem;
	font-weight: normal;
	align-self: center;
	margin: auto;
	letter-spacing: 4rem;
}

#main-pic {
	padding-top: 2rem;
	height: 43rem;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
	gap: 5rem;
}

#main-pic > img {
	height: 40rem;
}

#leftskate,
#rightskate {
	transition-duration: 1.5s;
}

/* START FOR SHOP ITEMS HERE ----------------------- */

#shop-nav-container {
	height: auto;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	gap: 15rem;
	justify-content: center;
	align-content: flex-end;
	border-top: .1rem solid black;
	padding: .5rem;
}

.shop-nav {
	width: 15rem;
	height: 15rem;
	background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
	border-radius: 50%;
	margin: auto 0;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 0px 5px 0px #252525;
}

a {
	text-decoration: none;
	color: white;
}

.shop-nav > p {
	text-align: center;
	font-size: 2.5rem;
}

h3 {
	margin: 1rem 0;
	padding: 2rem;
	height: 10rem;
	background-color: white;
	font-size: 5rem;
	font-weight: normal;
	text-align: center;
	letter-spacing: 2rem;
}


#skates, #gear {
	margin: 0 3%;
}


#skate-container,
#gear-container {
	align-self: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 450px));
	grid-auto-rows: 30rem;
	padding: 3rem;
	grid-gap: 1rem;
	width: 100vw;
	position: relative;
}

.skate-box,
.gear-box {
	width: 100%;
	height: 30rem;
	background-color: white;
	grid-gap: .5rem;
	border: .1rem solid black;
	display: flex;
	position: relative;
	overflow: hidden;
}

.select-btn {
	align-self: flex-end;
	padding: 1rem;
	margin: 1rem;
	width: 15em;
	position: absolute;
	left: 3rem;
	background-color: #333;
	text-align: center;
	font-size: 2rem;
	letter-spacing: .2rem;
	border-radius: 5rem;
	color: white;
}

.select-btn:hover {
	background-color: rgb(31, 31, 31);
}

article > img {
	height: 20rem;
	padding: .5rem;
}

.descrip-box {
	width: 40%;
	background-color: white;
	text-align: center;
	height: 60%;
	position: absolute;
	left: 27rem;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	flex-direction: column;
}

#gear-descrip-box {
	width: 50%;
	left: 20rem;
}

h4 {
	font-size: 2.5rem;
	padding: 0;
	margin: 1rem;
}

p {
	font-size: 2rem;
	margin: 0;
}

/* START OF MEDIA QUERIES */

@media only screen and (max-width: 800px) {
	h2 {
		letter-spacing: 2rem;
	}

	#main-pic {
		gap: 0;
		height: 25rem;
	}

	#main-pic > img {
		height: 20rem;
	}

	#shop-nav-container {
		gap: 2rem;
	}

	.shop-nav {
		width: 100vw;
		height: 20rem;
		border-radius: 0%;
	}

	#burger {
		width: 50%;
	}

	h3 {
		font-size: 3rem;
		letter-spacing: 1rem;
		margin: 1px 0;
	}

	article > img {
		width: 125px;
		height: 125px;
		margin: 0 auto;
	}

	#skate-container,
	#gear-container {
		padding: 0;
	}

	.skate-box,
	.gear-box {
		flex-direction: column;
		padding: 0;
		overflow: hidden;
		width: 95%;
		align-content: center;
	}

	.descrip-box {
		left: 0rem;
		top: 12rem;
		width: 100%;
	}

	#gear-descrip-box {
		left: 0;
		width: 100%;
		align-self: center;
	}

	h4 {
		font-size: 2rem;
	}

	.select-btn {
		bottom: 0;
		width: 95%;
		left: 0;
		align-self: center;
	}
}