* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

body {
	background-color: white;
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #eee;
}

section {
	height: 70vh;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 5rem;
	overflow: scroll;
	text-align: center;
	color: #333;
}
#nameGenTitle {
	font-size: 4.5rem;
	height: fit-content;
	margin: 0;
	font-weight: normal;
}
#nameGenSubTitle {
	font-size: 3.5rem;
}
#nameButton {
	width: 30vw;
	height: 8vh;
	align-self: center;
	font-size: 3rem;
	border-radius: 50px;
	background-color: white;
	outline: none;
	box-shadow: 2px 6px 13px 0px rgba(0,0,0,0.6);
}

#nameButton:hover {
	background-color: rgb(209, 202, 202);
}
#skaterNameBox {
	width: 50%;
	height: fit-content;
	align-self: center;
	margin: 3rem;
	font-size: 4rem;
	padding: 1rem;
	background-image: linear-gradient(
		to right top,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
	color: white;
	visibility: hidden;
	color: #FFFFFF;
	text-shadow: 4px 3px 0 #7A7A7A;
	box-shadow: 2px 7px 10px 5px rgba(0,0,0,0.79);
	border-radius: 20px;
}

@media only screen and (max-width: 800px) {
	#nameButton {
		font-size: 2rem;
		width: 40vw;
	}

	#skaterNameBox {
		width: 80%;
	}

}